.thumbnail {
  a {
    background-color: #2F6EFA;
    display: inline-block;
    color: #fff;
    padding: 10px;
  }
  p {
    text-overflow: ellipsis;
    max-width: 400px;
  }
  height: 300px;
  width: 400px;
}